*,
html {
    margin: 0;
    padding: 0;
}



.container-navbar {
    background-color: #333;
    width: 100%;
    height: 100px;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
border: 1px solid black;
background-color: aliceblue;
list-style-type: none;
padding: 20px;
margin: 5px;
color: black;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-content {
    width: 50%;
    height: 50%;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
font-size: 40px;
}